@tailwind base;
@tailwind components;
@tailwind utilities;


    @media (max-width : 1101px) {
        body{
            background-color: yellow;
        }
        input{
            display: none;
        }
       table,td{
        display: none;
       }
       li{
        display: none;
       }
       .navbar{
        margin-left: 20px;
        padding: 8px ;
        gap: 80px;
        justify-content: space-between;
        width: 800px;
        height: auto;
    
       }
      .rd-section{
        flex-direction: column;
      }

    
    }
    @media (max-width : 903px) {
        .img-8-9{
            display: none;
    }
}
        
    
@media(min-width : 1101px){
    .a-tag{
        display: none;
    }


}
.img-2ndsection{
    width: 90px;
}
.imge-3rdsection{
    width: 183px;
}
h1,h2{
    font-size: 22px;
    
}
.rd-section{
background-color: white;
}
.maga{
    background-color: yellow;
}